<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDPNuCldw0YRJT4-iSP-nhGMF4jjcw4dE</string>
	<key>GCM_SENDER_ID</key>
	<string>75987539471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shakeToQuote</string>
	<key>PROJECT_ID</key>
	<string>shake-to-quote-1cd8c</string>
	<key>STORAGE_BUCKET</key>
	<string>shake-to-quote-1cd8c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75987539471:ios:bc64b91b46fbf68a58b57a</string>
</dict>
</plist>